<mat-card class="my-3">
    <mat-card-header>
        <mat-card-title>Conway's Game of Life</mat-card-title>
        <a matTooltip="Wikipedia" target="_blank" href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">
            <mat-icon>link</mat-icon>
        </a>
    </mat-card-header>
    <div style="margin-left: -16px; margin-right: -16px; margin-bottom: 1rem; border: 1px solid lightgray;">
        <div *ngFor="let row of data;let i=index;">
            <div 
                matTooltip="Click to toggle state"
                class="cell" 
                (click)="item.state=!item.state" 
                [ngStyle]="{'background-color': item.state ? '#ffd740' : '#f7f7f7'}" 
                *ngFor="let item of row;let j=index;">
            </div>
        </div>
    </div>
    <mat-card-content>
        <p>
            The Game of Life is a cellular automaton and a zero-player game devised by mathematician John Horton Conway. It takes place on a two-dimensional grid in which cells can be alive or dead, and is defined by a set of rules that jointly determine the state of a cell given the state of its neighbours. The initial states are random and can achieve stochastic patterns. You may get some cool ones if you're lucky :)
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" matTooltip="Play" (click)="play()">
            <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-raised-button color="primary" matTooltip="Pause" (click)="pause()">
            <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <button mat-raised-button color="primary" matTooltip="Restart" (click)="restart()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
