<mat-card class="my-3">
    <mat-card-header>
        <mat-card-title>Langton's Ant</mat-card-title>
        <a matTooltip="Wikipedia" target="_blank" href="https://en.wikipedia.org/wiki/Langton%27s_ant">
            <mat-icon>link</mat-icon>
        </a>
    </mat-card-header>
    <div style="margin-left: -16px; margin-right: -16px; margin-bottom: 1rem;border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;">
        <div *ngFor="let row of data;let i=index;">
            <div 
                class="cell" 
                [ngStyle]="{'background-color': item.state ? '#ffd740' : 'transparent'}" 
                *ngFor="let item of row;let j=index;">
                <mat-icon style="position: absolute;" *ngIf="ant.x==item.x && ant.y==item.y && ant.direction=='NORTH'">arrow_drop_up</mat-icon>
                <mat-icon style="position: absolute;" *ngIf="ant.x==item.x && ant.y==item.y && ant.direction=='EAST'">arrow_right</mat-icon>
                <mat-icon style="position: absolute;" *ngIf="ant.x==item.x && ant.y==item.y && ant.direction=='WEST'">arrow_left</mat-icon>
                <mat-icon style="position: absolute;" *ngIf="ant.x==item.x && ant.y==item.y && ant.direction=='SOUTH'">arrow_drop_down</mat-icon>
            </div>
        </div>
    </div>
    <mat-card-content>
        <p>
            Langton's ant is another cellular automaton invented by Chris Langton in 1986. It is basically an ant sitting on a cell grid and the state of cells and movement of ant are governed by a simple set of rules. Unlike game of life, the patterns of this automaton are predictable and limited.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" matTooltip="Play" (click)="play()">
            <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-raised-button color="primary" matTooltip="Pause" (click)="pause()">
            <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <button mat-raised-button color="primary" matTooltip="Restart" (click)="restart()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
