<mat-toolbar color="primary">
    <span style="display: flex; flex-grow: 1;">Cellular Automata</span>
    <a matTooltip="Github" target="_blank" href="https://github.com/monkeyscript/cellular-automata">
        <mat-icon>link</mat-icon>
    </a>
</mat-toolbar>

<div style="padding-left: 10vw; padding-right: 10vw;">
    <p class="my-4">
        Cellular automaton is a collection of cells on a grid that evolves through a series of steps under simple rules governing their replication and destruction.
    </p>
    
    <app-conways-game-of-life></app-conways-game-of-life>
    <app-langtons-ant></app-langtons-ant>

</div>